body { font-family: Arial; background:#f2f6ff; padding:20px }
h1 { text-align:center }

.dashboard {
  display:grid;
  grid-template-columns: repeat(4,1fr);
  gap:10px;
}

.box {
  background:#2563eb;
  color:white;
  padding:15px;
  border-radius:8px;
  text-align:center;
  font-size:18px;
}

input,button {
  padding:8px;
  margin:5px 0;
  width:200px;
}

button {
  background:#22c55e;
  color:white;
  border:none;
  cursor:pointer;
}

ul { background:white; padding:10px }

@media(max-width:700px){
  .dashboard{grid-template-columns:1fr 1fr}
}
